In [6]:
import pandas as pd
import sqlite3

name = 'Alejandra Camino'

conn = sqlite3.connect("normalized.db")
sql_statement = """ 
        
        WITH sales_by_month AS (
    SELECT
        CASE
            WHEN strftime('%m', o.OrderDate) = '01' THEN 'January'
            WHEN strftime('%m', o.OrderDate) = '02' THEN 'February'
            WHEN strftime('%m', o.OrderDate) = '03' THEN 'March'
            WHEN strftime('%m', o.OrderDate) = '04' THEN 'April'
            WHEN strftime('%m', o.OrderDate) = '05' THEN 'May'
            WHEN strftime('%m', o.OrderDate) = '06' THEN 'June'
            WHEN strftime('%m', o.OrderDate) = '07' THEN 'July'
            WHEN strftime('%m', o.OrderDate) = '08' THEN 'August'
            WHEN strftime('%m', o.OrderDate) = '09' THEN 'September'
            WHEN strftime('%m', o.OrderDate) = '10' THEN 'October'
            WHEN strftime('%m', o.OrderDate) = '11' THEN 'November'
            WHEN strftime('%m', o.OrderDate) = '12' THEN 'December'
        END AS Month,
        SUM(ROUND(p.ProductUnitPrice * o.QuantityOrdered)) AS Total
    FROM OrderDetail o
    JOIN Customer c ON c.CustomerID = o.CustomerID
    JOIN Product p ON p.ProductID = o.ProductID
    GROUP BY Month
)

SELECT Month, Total,
ROW_NUMBER() OVER(ORDER BY total DESC) AS TotalRank
FROM sales_by_month
ORDER BY Total DESC;


    

     """
df = pd.read_sql_query(sql_statement, conn)
display(df)
conn.close()

        Month       Total  TotalRank
0    December  43732051.0          1
1     January  43703357.0          2
2    November  42470455.0          3
3      August  42089291.0          4
4     October  41825617.0          5
5   September  41262999.0          6
6        July  39418066.0          7
7    February  35726463.0          8
8         May  33540399.0          9
9       April  32111378.0         10
10       June  31646481.0         11
11      March  30509888.0         12

In [7]:
conn.close()